In [ ]:
# loading essential libraries
import pandas as pd
import numpy as np

# loading dataset of global youtube stats
path = "/content/Global YouTube Statistics.csv"
dff = pd.read_csv(path, encoding='latin1')

# getting rid of a number of columns not impacting the dataset (country, location, employment )
dff.columns
df = dff.iloc[:, :-6]
df

# checking for data types and NaNs
df.info()

# unifyig naming capitalize + replacing spaces with underscore
df.columns = df.columns.str.capitalize()
df.columns = df.columns.str.replace(' ', '_')
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rank                              995 non-null    int64
 1   Youtuber                          995 non-null    object
 2   subscribers                       995 non-null    int64
 3   video views                       995 non-null    float64
 4   category                          949 non-null    object
 5   Title                             995 non-null    object
 6   uploads                           995 non-null    int64
 7   Country                           873 non-null    object
 8   Abbreviation                      873 non-null    object
 9   channel_type                      965 non-null    object
 10  video_views_rank                  994 non-null    float64
 11  country_rank                      879 non-null    float64
 12  channel_type_rank                 962 non-null    float64
 13  video_views_for_the_last_30_days  939 non-null    float64
 14  lowest_monthly_earnings           995 non-null    float64
 15  highest_monthly_earnings          995 non-null    float64
 16  lowest_yearly_earnings            995 non-null    float64
 17  highest_yearly_earnings           995 non-null    float64
 18  subscribers_for_last_30_days      658 non-null    float64
 19  created_year                      990 non-null    float64
 20  created_month                     990 non-null    object
 21  created_date                      990 non-null    float64
dtypes: float64(12), int64(3), object(7)
memory usage: 171.1+ KB

,Rank,Youtuber,Subscribers,Video_views,Category,Title,Uploads,Country,Abbreviation,Channel_type,...,Channel_type_rank,Video_views_for_the_last_30_days,Lowest_monthly_earnings,Highest_monthly_earnings,Lowest_yearly_earnings,Highest_yearly_earnings,Subscribers_for_last_30_days,Created_year,Created_month,Created_date
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,7423.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,1.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,2.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,172.0,5.525130e+08,138100.0,2200000.00,1700000.00,2.650000e+07,700000.0,2017.0,Feb,12.0
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,69.0,6.473500e+07,16200.0,258900.00,194200.00,3.100000e+06,300000.0,2018.0,Sep,14.0
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1202.0,6.703500e+04,17.0,268.00,201.00,3.200000e+03,1000.0,2006.0,Sep,11.0
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,69.0,3.871000e+06,968.0,15500.00,11600.00,1.858000e+05,100000.0,2012.0,May,9.0
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,44.0,2.400000e+07,6000.0,96000.00,72000.00,1.200000e+06,100000.0,2017.0,Aug,1.0

In [ ]:
# Let's see columns that amass the most % of nulls
null_counts = df.isnull().sum() / len(df)
round(null_counts,2)

# Deleting columns that >10% data is null
to_be_deleted = ['Subscribers_for_last_30_days', 'Country', 'Abbreviation', 'Country_rank']

df = df.drop(columns=to_be_deleted)
df

,Rank,Youtuber,Subscribers,Video_views,Category,Title,Uploads,Channel_type,Video_views_rank,Channel_type_rank,Video_views_for_the_last_30_days,Lowest_monthly_earnings,Highest_monthly_earnings,Lowest_yearly_earnings,Highest_yearly_earnings,Created_year,Created_month,Created_date
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,Music,1.0,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2006.0,Mar,13.0
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,Games,4055159.0,7423.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,2006.0,Mar,5.0
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,Entertainment,48.0,1.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,2012.0,Feb,20.0
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,Education,2.0,1.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,2006.0,Sep,1.0
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,Entertainment,3.0,2.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,2006.0,Sep,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Entertainment,525.0,172.0,5.525130e+08,138100.0,2200000.00,1700000.00,2.650000e+07,2017.0,Feb,12.0
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,Games,6141.0,69.0,6.473500e+07,16200.0,258900.00,194200.00,3.100000e+06,2018.0,Sep,14.0
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,Games,129005.0,1202.0,6.703500e+04,17.0,268.00,201.00,3.200000e+03,2006.0,Sep,11.0
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Games,35112.0,69.0,3.871000e+06,968.0,15500.00,11600.00,1.858000e+05,2012.0,May,9.0
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,Comedy,4568.0,44.0,2.400000e+07,6000.0,96000.00,72000.00,1.200000e+06,2017.0,Aug,1.0

In [ ]:
# Now with minor volume of NaNS, let's deleting rows including null values
df = df.dropna()

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 994
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              889 non-null    int64
 1   Youtuber                          889 non-null    object
 2   Subscribers                       889 non-null    int64
 3   Video_views                       889 non-null    float64
 4   Category                          889 non-null    object
 5   Title                             889 non-null    object
 6   Uploads                           889 non-null    int64
 7   Channel_type                      889 non-null    object
 8   Video_views_rank                  889 non-null    float64
 9   Channel_type_rank                 889 non-null    float64
 10  Video_views_for_the_last_30_days  889 non-null    float64
 11  Lowest_monthly_earnings           889 non-null    float64
 12  Highest_monthly_earnings          889 non-null    float64
 13  Lowest_yearly_earnings            889 non-null    float64
 14  Highest_yearly_earnings           889 non-null    float64
 15  Created_year                      889 non-null    float64
 16  Created_month                     889 non-null    object
 17  Created_date                      889 non-null    float64
dtypes: float64(10), int64(3), object(5)
memory usage: 132.0+ KB

Let's put up a number of calulations on given dataset.

In [ ]:
# Calculating average of maximum monthly earning for top 5 and low 5 ranked youtubers
top_5_rank = df[df['Rank'] < 6]
low_5_rank = df.sort_values(by='Rank',ascending=False)

average_top5 = top_5_rank['Highest_yearly_earnings'].mean()
average_low5 = low_5_rank['Highest_yearly_earnings'].mean()

print(round(average_top5,2))
print(round(average_low5,2))

71080000.12
7314958.91

In [ ]:
# Checking the most top 3 common Category type created in 2018
the_year = df[df['Created_year'] == 2018]
most_popular_2018 = the_year['Category'].value_counts().nlargest(3)

print(most_popular_2018)

People & Blogs    10
Entertainment      9
Howto & Style      4
Name: Category, dtype: int64

In [ ]:
# Calculate top 10 Youtubers with most videos uploaded this year
when = df[df['Created_year'] == 2023]
most_views_2023 = df.groupby('Youtuber')['Video_views'].sum()

top_10 = most_views_2023.nlargest(10)
print(top_10)

Youtuber
T-Series                      2.280000e+11
Cocomelon - Nursery Rhymes    1.640000e+11
SET India                     1.480000e+11
Sony SAB                      1.010000e+11
ýýý Kids Diana Show           9.324704e+10
Like Nastya                   9.047906e+10
WWE                           7.742847e+10
Vlad and Niki                 7.718017e+10
Zee TV                        7.313905e+10
Colors TV                     6.151091e+10
Name: Video_views, dtype: float64

In [27]:
# Check the least 5 subscribers per Channel Type
sub_qty = df.groupby('Channel_type')['Subscribers'].sum().nsmallest(5)

print(sub_qty)

Channel_type
Nonprofit     55500000
Animals       58600000
Autos         64400000
Tech         306300000
Sports       345400000
Name: Subscribers, dtype: int64

In [45]:
# See trend for number of subscribers for top 5 channel categories past 3 years
y_2023 = df[df['Created_year'] == 2023]
y_2022 = df[df['Created_year'] == 2022]
y_2021 = df[df['Created_year'] == 2021]

top_5_channel = df.groupby('Channel_type')['Subscribers'].sum().nlargest(5)
top_5_channel

top_5_channel_2023 = y_2023[y_2023['Channel_type'].isin(top_5_channel)]
top_5_channel_2022 = y_2022[y_2022['Channel_type'].isin(top_5_channel)]
top_5_channel_2021 = y_2021[y_2021['Channel_type'].isin(top_5_channel)]

avg_subscribers_2023 = top_5_channel_2023.groupby('Channel_type')['Subscribers'].mean()
avg_subscribers_2022 = top_5_channel_2022.groupby('Channel_type')['Subscribers'].mean()
avg_subscribers_2021 = top_5_channel_2021.groupby('Channel_type')['Subscribers'].mean()

Series([], Name: Subscribers, dtype: float64)